SECRET_KEY=django-key-placeholder
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,10.10.28.178,172.19.32.1

# Application URLs
# BASE_URL=https://127.0.0.1:8000/
# FRONTEND_URL=http://localhost:3000

# Google OAuth Credentials
GOOGLE_CLIENT_SECRET=secret-placeholder
GOOGLE_WEB_CLIENT_ID=somekey.apps.googleusercontent.com


# Frontend URLs for OAuth login results
FRONTEND_LOGIN_ERROR_URL=http://localhost:3000/login?error=oauth_failed
FRONTEND_LOGIN_SUCCESS_URL=http://localhost:3000/login?success=true

# Apple OAuth
APPLE_CLIENT_ID=com.example.app

# Database
DB_ENGINE=django.db.backends.sqlite3  #postgresql for production

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Email (GMAIL)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=maruf.bshs@gmail.com
EMAIL_HOST_PASSWORD=some-email-password
DEFAULT_FROM_EMAIL=Alfred Your AI Concierge <maruf.bshs@gmail.com>

# iOS
IOS_SHARED_SECRET=your_ios_shared_secret
IOS_SANDBOX_MODE=True

# Android
ANDROID_PACKAGE_NAME=com.autointel.vehicle

# AI Part
ALFRED_AI_BASE_URL=http://10.10.28.170:8001
ALFRED_AI_API_KEY=
ALFRED_AI_TIMEOUT_SECONDS=30
ALFRED_AI_SESSION_TTL_SECONDS=7200
ALFRED_AI_HISTORY_LIMIT=20
ALFRED_CHAT_AUDIO_TTL_SECONDS=3600
